.gradient {
  background-image: linear-gradient(to bottom right, #83e1ff53, #bc4da450);
  width: 100vw;
  height: 50vh;
  display: flex;
}

.title-logo {
  width: 150px;
}

.job-ad-link {
  text-decoration: none;
  color: #333;
}

.main-title {
  font-weight: 800;
  margin: auto;
  text-align: center;
  @media screen and (max-width: 600px) {
    font-size: 30px;
  }
  @media screen and (min-width: 600px) {
    font-size: 37px;
  }
}

.middle-box {
  position: relative;
  top: -5vh;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 0px 0px 10px #555;
  background-color: #fff;
  @media screen and (max-width: 600px) {
    width: 90vw;
  }
  @media screen and (min-width: 600px) {
    width: 60vw;
  }
}

.job-ad-wrapper {
  height: 130px;
  display: flex;
  flex-direction: row;
  padding: 10px;
  cursor: pointer;
}

.job-ad-wrapper:hover {
  background-color: #ccc;
}

.left-wrapper {
  display: flex;
  flex-direction: column;
  margin: auto 0px;
  text-align: center;
  width: 60%;
  @media screen and (max-width: 600px) {
    font-size: 14px;
  }
  @media screen and (min-width: 600px) {
    font-size: 20px;
  }
}

.job-title {
  font-weight: 600;
}

.company-name {
  color: #555;
  margin-top: 5px;
}

.right-wrapper {
  display: flex;
  margin: auto 0px;
  justify-content: flex-end;
  font-size: 18px;
  width: 30%;
  @media screen and (max-width: 600px) {
    font-size: 14px;
  }
  @media screen and (min-width: 600px) {
    font-size: 20px;
  }
}

.job-ad-img {
  width: 70px;
  height: 70px;
  margin: auto 0px;
}
