%loader {
  animation: spin 5s linear infinite;
}

.job-loader {
  @extend %loader;
  width: 100px;
  margin: 20px auto auto auto;
}

.description-loader {
  width: 200px;
  @extend %loader;
  margin: auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.job-loader-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.job-loader-text {
  font-size: 25px;
  margin: auto auto 20px auto;
}
