.apply-button {
  border: none;
  width: 150px;
  height: 40px;
  background-color: #1a346a;
  color: #fff;
  cursor: pointer;
  border-radius: 10px;
  font-size: 15px;
}

.apply-button:focus {
  outline: none;
}
